// главный блок
.hero {
  position: relative;
  padding: 16.25vw 0 4.3vw;
  max-height: 100vh;
  display: flex;
  align-items: end;
  background: $main-color url('../media/img/hero-bg.png') 0 0 / 100% 100% no-repeat;

  &--quiz {
    .hero__title {
      position: relative;

      &::before {
        content: 'за 1 минуту';
        position: absolute;
        top: -2.4vw;
        left: 0;
        font-size: 1.5625vw;
        line-height: 147%;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }

  &--404 {
    padding: 3.54vw 0 1.5625vw;
    // padding: 19.25vw 0 17vw;
    // max-height: 49.5vw;
    max-height: 85.8vh;
    height: 49.5vw;
    display: flex;
    align-items: center;
    background: $main-color url('../media/svg/404.svg') 14.22vw 12.7vw / 86vw auto no-repeat;


    .hero__row {
      flex-direction: column;
      align-items: start;
    }

    .hero__title {
      flex-basis: auto;
      margin-bottom: 1.25vw;

      &::after {
        display: none;
      }
    }

    .hero__btn {
      width: fit-content;
      padding: 1.5vw 7vw;

      span {
        font-size: 0.9375vw;
      }
    }
  }

  &--thanks {
    align-items: center;
    max-height: 85vh;
    height: 48.4375vw;
    padding-top: 12vw;

    background: url('../media/img/engineer.png') 77% bottom / auto 36vw no-repeat,
      url('../media/img/callback-bg.jpg') center 0 / auto 100% no-repeat;

    .hero__row {
      flex-direction: column;
      align-items: start;
      max-width: 35.22vw;
      padding-left: 1.7vw;
    }

    .hero__title {
      flex-basis: auto;
      margin-bottom: 1.25vw;
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    .hero__btn {
      width: fit-content;
      padding: 1.5vw 7vw;

      span {
        font-size: 0.9375vw;
      }
    }
  }

  &--lidmagnit {
    padding-top: 15.7vw;
    align-items: center;
    background: #F1F5F8 url('../media/img/lidmagnit.png') right bottom / 59.8vw auto no-repeat;
    padding-bottom: 13vw;

    .hero__row {
      flex-direction: column;
      align-items: start;
      max-width: 43.23vw;
    }

    .hero__title {
      position: relative;
      flex-basis: auto;
      margin-bottom: 2.7vw;
      padding-right: 0;
      color: $main-color;

      &::after {
        display: none;
      }

      &::before {
        content: 'скачать бесплатно';
        position: absolute;
        top: -2.4vw;
        left: 0;
        font-size: 1.5625vw;
        line-height: 147%;
        text-transform: uppercase;
        color: $main-color;
      }
    }

    .form {
      width: 100%;

      &__row {
        gap: 1.5625vw;
        margin-bottom: 1.5625vw;
      }

      &__btn {
        width: 100%;
        margin-bottom: 1.35vw;
      }
    }

  }

  &__row {
    align-items: end;
  }

  &__title {
    position: relative;
    flex: 0 0 38.3125vw;
    padding-right: 8vw;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      bottom: -7vw;
      right: 0;
      width: 0.052vw;
      height: 58.25vw;
      background: rgba(226, 231, 238, 0.2);
    }
  }

  &__label {
    margin-bottom: 2.08vw;
    font-size: 1.25vw;
    line-height: 167%;
    color: #fff;
  }

  &__descr {
    position: relative;
    flex: 0 0 23.8vw;
    min-height: 21.5vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3.2vw 2.7vw 0 2.86vw;
    border-top: 0.052vw solid rgba(226, 231, 238, 0.2);

    &::before {
      content: '';
      position: absolute;
      left: -0.26vw;
      top: -0.26vw;
      width: 0.52vw;
      height: 0.52vw;
      background: #fff;
    }
  }

  &__subtitle {
    margin-bottom: 1.8vw;
    font-weight: 400;
    font-size: 1.5625vw;
    line-height: 147%;
    color: #fff;
  }

  &__btn {
    width: 100%;
    margin-bottom: 0.25vw;
    text-align: center;

    span {
      font-weight: 700;
      font-size: 0.73vw;
      line-height: 150%;
      letter-spacing: 0.1em;
    }
  }

  &__benefits {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5.1vw;
    padding-left: 1.93vw;

    &::after {
      content: '';
      position: absolute;
      bottom: -7vw;
      left: 0;
      width: 0.052vw;
      height: 58.25vw;
      background: rgba(226, 231, 238, 0.2);
    }
  }

  &__benefits-item {
    position: relative;
    width: 10vw;
    font-size: 1vw;
    line-height: 150%;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      left: -2.1875vw;
      top: 50%;
      transform: translateY(-50%);
      width: 0.52vw;
      height: 0.52vw;
      background: #fff;
    }

    &:last-child {
      width: 8.85vw;
    }
  }

  &__burger-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 4.94vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.052vw solid rgba(226, 231, 238, 0.2);
  }

  &__burger {

    &.burger--fixed {
      position: fixed;
      top: 0;
      right: -0.4vw;
      z-index: 20;
      height: 6.8vw;
      width: 4.8vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        background: $main-color;

        &:last-child {
          position: relative;
          left: -0.2vw;
        }
      }
    }

    span {
      display: block;
      height: 0.25vw;
      background: #fff;
      transition-property: width, background-color, transform;
      transition: 0.3s ease-in-out;

      &:first-child {
        width: 2vw;
        margin-bottom: 0.45vw;
      }

      &:last-child {
        width: 1.5625vw;
      }
    }

    &:hover {
      span {
        background: $accent-color;

        &:first-child {
          width: 1.3vw;
        }

        &:last-child {
          width: 2vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 8.9rem 0 2.9rem;
    // height: auto;
    max-height: none;
    background: $main-color url('../media/img/hero-bg-mobile.png') 0 0 / 100% 100% no-repeat;

    &--quiz {
      padding-top: 11.2rem;

      .hero__title::before {
        font-size: 1rem;
        top: -2rem;
      }
    }

    &--404 {
      height: auto;
      background: $main-color url('../media/svg/404.svg') 4.4rem 9.7rem/28rem auto no-repeat;

      .hero__title {
        margin-bottom: 2rem;
      }

      .hero__btn {
        width: 100%;
        padding: 1.6rem 3.8rem;

        span {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }

    &--thanks {
      height: auto;
      padding-top: 9rem;
      background: url('../media/img/engineer.png') center bottom / 72% auto no-repeat,
        url('../media/img/callback-bg.jpg') center 0 / auto 100% no-repeat;

      .hero__row {
        padding-left: 0;
        max-width: 100%;
        padding-bottom: 23rem;
      }

      .hero__title {
        margin-bottom: 2rem;
      }

      .hero__btn {
        width: 100%;
        padding: 1.6rem 3.8rem;

        span {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }

    &--lidmagnit {
      padding-top: 10rem;
      background: #F1F5F8 url('../media/img/lidmagnit.png') right 117% / 128% auto no-repeat;

      .hero__row {
        max-width: 100%;
        padding-bottom: 23rem;
      }

      .hero__title {
        margin-bottom: 2rem;

        &::before {
          top: -2rem;
          font-size: 1rem;
        }
      }

      .form {
        &__row {
          flex-direction: column;
          gap: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &__btn {
          margin-bottom: 1.3rem;
        }
      }
    }

    &__row {
      flex-direction: column;
      align-items: start;
    }

    &__title {
      margin-bottom: 3.7rem;
      padding: 0;
      flex-basis: auto;
      line-height: 117%;

      &::after {
        display: none;
      }
    }

    &__label {
      margin-bottom: 3rem;
      font-size: 1.5rem;
    }

    &__descr {
      padding: 0;
      flex-basis: auto;
      border: none;

      &::before {
        display: none;
      }
    }

    &__subtitle {
      margin-bottom: 2.1rem;
      padding-right: 1rem;
      font-size: 1.4rem;
      line-height: 143%;
    }

    &__btn {
      margin-bottom: 2.4rem;
      z-index: 2;

      span {
        font-size: 1.2rem;
        line-height: 133%;
        font-weight: 700;
        color: #2E6BD1;
        letter-spacing: 0.1em;
      }

      &:hover {
        span {
          color: #fff;
        }
      }
    }

    &__benefits {
      gap: 1.2rem;
      padding-left: 1.8rem;

      &::after {
        top: -3rem;
        bottom: -3rem;
        left: 0.8rem;
        width: 0.1rem;
        height: auto;
      }
    }

    &__benefits-item {
      width: 15.4rem;
      font-size: 1.2rem;
      line-height: 1.5rem;

      &::before {
        width: 0.5rem;
        height: 0.5rem;
        left: -1.2rem;
      }

      &:nth-child(2) {
        width: 17.4rem;
      }

      &:last-child {
        width: 15.4rem;
      }
    }

    &__burger-container {
      width: 5.8rem;
      border-width: 0.1rem;
    }

    &__burger {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 51;
      height: 7.5rem;
      width: 5.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.burger--fixed {
        height: 6.1rem;
        width: 5.8rem;

        span {
          background: $main-color;
        }
      }

      span {
        flex-shrink: 0;
        height: 0.2rem;
        border-radius: 0.1rem;

        &:first-child {
          width: 1.4rem;
          margin-bottom: 0.25rem;
        }

        &:last-child {
          width: 1rem;
          position: relative;
          left: -0.2rem;
        }
      }

      &:hover,
      &:active {
        span {
          &:first-child {
            width: 1rem;
          }

          &:last-child {
            width: 1.4rem;
          }
        }
      }
    }
  }
}