// квиз
.quiz {
	padding-top: 4.5vw;
	padding-bottom: 2.55vw;

	&-only {
		padding-top: 3.7vw;
		padding-bottom: 1.5vw;

		.quiz-top__descr {
			flex-basis: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.quiz-top__subtitle {
			margin-bottom: 0;
		}

		.quiz-top__item:not(:last-child) {
			margin-bottom: 0;
		}
	}

	&__title {
		flex: 0 0 54.9vw;
		margin-right: 3vw;
	}

	&__inner {
		position: relative;
		background-color: #F9FAFD;

		&.final {
			background: #F9FAFD url('../media/svg/big-logo.svg') -2.14vw calc(100% + 7vw) / 93.2vw auto no-repeat;

			.quiz__body {
				padding-top: 6.3vw;
				padding-left: 5.5vw;
			}

			.quiz__form {
				min-height: 40.125vw;
			}
		}
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 10;
		transform: translateY(-50%);
		width: 100%;
		height: 16.67vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $gray-4;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.5s;

		.loader-text {
			font-weight: 400;
			font-size: 2.6vw;
			line-height: 140%;
			text-transform: uppercase;
			color: #000;
		}

		&.visible {
			opacity: 1;
		}
	}

	&__body {
		padding: 3.45vw 0 0 4.21vw;
		justify-content: space-between;
		gap: 1vw;

		&.blur {
			filter: blur(10px);
		}

		&.blur * {
			pointer-events: none !important;
		}
	}

	&__form {
		flex: 0 0 46.875vw;
		min-height: 43.125vw;
		display: flex;
		flex-direction: column;
	}

	&__items {
		margin-bottom: 3vw;
	}

	&__right {
		position: relative;
		flex: 1 1 auto;
		overflow: hidden;
		background: url('../media/img/man.png') center bottom / 100% auto no-repeat;

		&-text {
			position: absolute;
			bottom: 2.6vw;
			right: 8.7vw;
			width: 14vw;
			z-index: 2;
			font-size: 1vw;
			line-height: 163%;
			color: #fff;
			letter-spacing: 0.03em;

			&::before {
				content: '';
				position: absolute;
				top: -3.34vw;
				left: 0;
				width: 1.5625vw;
				height: 1.3vw;
				background: url('../media/svg/quotes.svg') 0 0 / 100% 100% no-repeat;
			}
		}
	}

	&__bottom {
		align-items: center;
		justify-content: space-between;
		margin-top: auto;
		margin-bottom: 2.24vw;

		&-descr {
			flex: 0 0 12.66vw;
			font-size: 0.83vw;
			line-height: 156%;
			letter-spacing: 0.04em;
			color: $main-color;

			b {
				font-weight: 700;
			}
		}

		.main-btn:disabled {
			opacity: 1;
		}
	}

	&__btns {
		gap: 1.25vw;
	}

	.quiz-btn__hint {
		position: absolute;
		left: 50%;
		bottom: 110%;
		width: 80%;
		color: #282828;
		box-shadow: 0.208vw 0.365vw 0.885vw -0.3125vw #000;
		background-color: #fff;
		text-align: center;
		padding: 0.26vw 0;
		border-radius: 0.3125vw;
		z-index: 33;
		transform: translate(-50%, 0);
		opacity: 0;
		transition: opacity .6s;
		font-size: 0.7vw;
		text-transform: lowercase;
		line-height: 1;
	}

	&__btn:hover:disabled .quiz-btn__hint {
		opacity: 1
	}

	&__progress {
		position: relative;
		margin-bottom: 2.3vw;

		&-bar {
			position: relative;
			width: 100%;
			height: 1.823vw;
			border-radius: 0.052vw;
			overflow: hidden;
			background: #fff;
		}

		&-inner {
			position: absolute;
			left: 0.3125vw;
			top: 0.26vw;
			bottom: 0.26vw;
			border-radius: 0.052vw;
			animation: loadingBg 10s infinite linear;
			background: $accent-color url(../media/svg/load.svg) 0 0 / 1.05vw 100%;
		}

		&-text {
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 3;
			transform: translate(-50%, -50%);
			font-size: 0.677vw;
			line-height: 140%;
			letter-spacing: 0.05em;
			color: $main-color;

			b {
				font-weight: 700;
			}
		}
	}
}

.quiz-top {
	align-items: center;
	margin-bottom: 2.6vw;

	&__descr {
		flex: 0 0 15.8vw;
		margin: 0 auto;
	}

	&__subtitle {
		margin-bottom: 1.1vw;
		font-weight: 500;
		font-size: 1.25vw;
		line-height: 167%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $main-color;
	}

	&__item {
		position: relative;
		font-size: 1vw;
		line-height: 1.5625vw;
		color: $gray-2;

		&:not(:last-child) {
			margin-bottom: 0.78vw;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0.5vw;
			left: -2.1875vw;
			width: 0.52vw;
			height: 0.52vw;
			background-color: $accent-color;
		}
	}
}

.quiz-btn--prev {
	font-weight: 500;
	font-size: 0.833vw;
	line-height: 175%;
	letter-spacing: 0.06em;
	color: $main-color;
	display: flex;
	align-items: center;
	text-align: center;
	background: none;
	flex-shrink: 0;
	cursor: pointer;
}

.quiz-btn--next {
	border-radius: 0.1vw;
	width: 7.8125vw;
	height: 3.9vw;
}

.quiz-item {
	&__title {
		margin-bottom: 2.3vw;
		font-weight: 500;
		font-size: 1.25vw;
		line-height: 125%;
		color: $main-color;
	}

	&__subtitle {
		margin-bottom: 2vw;
		font-weight: 400;
		font-size: 1.67vw;
		line-height: 2vw;
		color: #000;
	}

	&__main {
		flex: 0 0 20.83vw;
		margin-right: 6.93vw;
	}

	&__descr {
		flex: 0 0 12vw;
		font-weight: 500;
		font-size: 1.25vw;
		line-height: 167%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $main-color;
	}

	&__list {
		padding-top: 1.6vw;
	}

	&__list-item {
		position: relative;
		padding-left: 2vw;
		font-weight: 400;
		font-size: 1vw;
		line-height: 150%;
		color: $gray-2;
		text-transform: none;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0.5vw;
			width: 0.52vw;
			height: 0.52vw;
			background: $accent-color;
		}

		&:not(:last-child) {
			margin-bottom: 1.35vw;
		}
	}

	&__image {
		position: absolute;
		bottom: 0;
		right: 3.55vw;
		width: 29.9vw;
		height: 40.68vw;
	}

	&--final {
		flex: 0 0 100%;
		opacity: 0;
		transition: opacity 0.5s;

		.quiz-item__title {
			margin-bottom: 2vw;
			font-weight: 400;
			font-size: 2.6vw;
			line-height: 140%;
			text-transform: uppercase;
			color: $accent-color;
		}

		&.visible {
			opacity: 1;
		}
	}
}

.quiz-options {
	flex-wrap: wrap;

	&--img-small {
		column-gap: 1.92vw;
		row-gap: 2.24vw;

		.quiz-option {
			flex: 0 0 14.33vw;
		}

		.quiz-option__wrapper {
			display: flex;
			flex-direction: column;
			gap: 1.146vw;
		}

		.quiz-option__img {
			height: 9.12vw;
		}
	}

	&--img,
	&--img-big {
		column-gap: 1.5625vw;
		row-gap: 0.83vw;

		.quiz-option {
			flex: 0 0 22.65vw;
		}

		.quiz-option__wrapper {
			display: flex;
			flex-direction: column;
			gap: 1.146vw;
		}

		.quiz-option__img {
			height: 11.46vw;
		}
	}

	&--img-big {
		.quiz-option__img {
			height: 21.35vw;
		}
	}

	&--checkbox {
		padding-top: 0.7vw;
		flex-direction: column;
		gap: 1.15vw;
	}

	&--input {
		margin-top: -0.8vw;
		margin-bottom: 2.8vw;
		align-items: center;
		gap: 0.83vw;

		.quiz__input-wrap {
			position: relative;
			width: 4.3vw;
		}

		input[type=number] {
			-moz-appearance: textfield;
			appearance: textfield;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.input {
			font-weight: 500;
			color: $main-color;
			text-transform: none;

			&::placeholder {
				color: $gray-1;
			}
		}

		.quiz__input {
			&-square {
				width: 20.83vw;
			}

			&-count {
				width: 100%;
			}
		}

		.quiz-options__text {
			font-size: 1vw;
			line-height: 1.3vw;
		}
	}
}

.quiz-option {
	position: relative;

	&__wrap {
		display: flex;
		align-items: center;
		gap: 0.83vw;
	}

	&__img {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		border-radius: 0.1vw;
		background: #fff;
		transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform 0.3s ease-in-out;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1.01vw;
			height: 1.83vw;
			transform: translate(-50%, -50%);

			path {
				fill: $gray-3;
			}
		}
	}

	&__checkbox {
		width: 1.5625vw;
		height: 1.5625vw;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0.052vw solid $gray-3;
		border-radius: 0.052vw;
		background: #fff;
		transition: border-color 0.3s ease-in-out;

		svg {
			width: 0.42vw;
			height: 0.3125vw;
		}

		path {
			fill: $gray-2;
			transition: fill 0.3s ease-in-out;
		}
	}

	&__label {
		font-weight: 500;
		font-size: 0.833vw;
		line-height: 1vw;
		color: $main-color;
	}

	&__input {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 5;
		cursor: pointer;

		&:checked~.quiz-option__wrapper {
			.quiz-option__img {
				box-shadow: 0 0 0.7vw $gray-2;
				outline: 0.15vw solid $accent-color;
			}

			.quiz-option__checkbox {
				background: $accent-color;

				svg path {
					fill: #fff;
				}
			}
		}
	}

	&:hover {
		.quiz-option__img {
			box-shadow: 0 0 0.7vw $gray-2;

			img {
				transform: scale(1.05);
			}
		}

		svg path {
			fill: $accent-color;
		}

		.quiz-option__checkbox {
			border-color: $accent-color;
		}
	}
}

.quiz-catalog {
	flex-direction: column;

	&__label {
		flex-basis: auto;
	}

	.select-social {
		margin-bottom: 1.25vw;
	}

	&__input {
		margin-bottom: 1.64vw;
	}

	&__btn {
		margin-bottom: 1.4vw;
	}

	&__agree {
		align-items: center;

		.agree__text {
			font-size: 0.625vw;
			line-height: 150%;
		}

		.agree__link {
			font-weight: 700;
		}
	}
}

.quiz-plate {
	position: absolute;
	top: 8vw;
	left: 5.47vw;
	width: 7.5vw;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.82vw;
		height: 1.82vw;
		margin-bottom: 0.8vw;
		border-radius: 0.052vw;
		background-color: #fff;

		svg {
			width: 0.47vw;
			height: 0.47vw;
		}

		path {
			fill: $accent-color;
		}
	}

	&__name {
		margin-bottom: 0.2vw;
		font-weight: 700;
		font-size: 1vw;
		line-height: 120%;
	}

	&__text {
		font-size: 0.625vw;
		line-height: 1.3vw;
	}
}

@media (max-width: 768px) {
	.quiz {
		padding-top: 4.3rem;
		padding-bottom: 2.2rem;

		&-only {
			padding-top: 4rem;
			padding-bottom: 3rem;

			.quiz-top__descr {
				flex-direction: column;
				align-items: start;
			}

			.quiz-top__subtitle {
				margin-bottom: 1rem;
			}

			.quiz-top__item:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		&__title {
			margin-bottom: 1.8rem;
			margin-right: 0;
			padding-right: 1rem;
			flex-basis: auto;
			font-size: 2rem;
			line-height: 150%;
		}

		&__inner {
			background: none;

			&.final {
				// background-color: transparent;
				overflow: hidden;
				width: calc(100% + 4.4rem);
				margin-left: -2.2rem;
				padding: 2.2rem;

				.quiz__body {
					padding-top: 0;
					padding-left: 0;
					// padding-bottom: 17rem;
					padding-bottom: 26rem;
				}
			}
		}

		&__loader {
			height: 14rem;

			.loader-text {
				font-size: 1rem;
			}
		}

		&__body {
			padding: 0;
			gap: 0;
		}

		&__form {
			flex-basis: 100%;
			min-height: 46rem;
		}

		&__items {
			margin-bottom: 2.2rem;
		}

		&__right {
			display: none;
		}

		&__bottom {
			margin-bottom: 0;
			flex-direction: column;
			align-items: start;
			gap: 0.8rem;

			&-descr {
				flex-basis: auto;
				font-size: 0.8rem;
				line-height: 1rem;
				color: #1c1c1c;
			}
		}

		&__btns {
			width: 100%;
			align-items: stretch;
			gap: 1rem;
		}

		.quiz-btn__hint {
			font-size: 0.8rem;
			padding: 0.8rem 0;
			width: 90%;
			border-radius: 0.1rem;
		}

		&__progress {
			margin-bottom: 2rem;

			&-bar {
				height: 2rem;
				border-radius: 0.1rem;
				background-color: #F9F9F9;
			}

			&-inner {
				left: 0.4rem;
				top: 0.4rem;
				bottom: 0.3rem;
				border-radius: 0.1rem;
				animation-duration: 5s;
				background: $accent-color url(../media/svg/load.svg) 0 0 / 1.4rem 100%;
			}

			&-text {
				font-size: 0.8rem;
			}
		}
	}

	.quiz-top {
		flex-direction: column;
		align-items: start;
		margin-bottom: 3.9rem;

		&__descr {
			flex-basis: auto;
			margin: 0;
		}

		&__subtitle {
			margin-bottom: 1.2rem;
			font-size: 1.6rem;
			line-height: 150%;
		}

		&__item {
			width: 24.6rem;
			font-size: 1.4rem;
			line-height: 143%;
			padding-left: 2.2rem;

			&:not(:last-child) {
				margin-bottom: 1.2rem;
			}

			&::before {
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 1rem;
				height: 1rem;
			}
		}
	}

	.quiz-btn--prev {
		flex: 0 0 48%;
		font-size: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.quiz-btn--next {
		flex: 1 1 100%;
		height: 100%;
	}

	.quiz-item {
		&__title {
			margin-bottom: 2.4rem;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
		}

		&__subtitle {
			margin-bottom: 2rem;
			font-size: 1.5rem;
			line-height: 1.8rem;
			text-align: center;
		}

		&__main {
			flex-basis: 100%;
			margin-right: 0;
		}

		&__descr {
			display: none;
		}

		&__image {
			right: 50%;
			bottom: -5rem;
			transform: translateX(50%);
			width: 22rem;
			height: 33rem;
		}

		&--final .quiz-item__title {
			margin-bottom: 1.8rem;
			font-size: 2rem;
			text-align: center;

		}
	}

	.quiz-options {
		&--img-small {
			column-gap: 3.6rem;
			row-gap: 2.5rem;

			.quiz-option {
				flex-basis: 12rem;
			}

			.quiz-option__wrapper {
				gap: 0.6rem;
			}

			.quiz-option__img {
				height: 7.5rem;
			}
		}

		&--img,
		&--img-big {
			column-gap: 1rem;
			row-gap: 2rem;

			.quiz-option {
				flex-basis: 48%;
			}

			.quiz-option__wrapper {
				gap: 0.6rem;
			}

			.quiz-option__img {
				height: 10rem;
			}
		}

		&--checkbox {
			gap: 2rem;
			padding-top: 0;

			.quiz-option__checkbox {
				width: 1.5rem;
				height: 1.5rem;

				svg {
					width: 0.45rem;
					height: 0.3rem;
				}
			}

			.quiz-option__label {
				font-size: 1rem;
			}
		}

		&--input {
			margin-top: -0.9rem;
			margin-bottom: 2rem;
			gap: 0.9rem;

			.quiz__input-wrap {
				width: 25%;
			}

			.quiz__input-square {
				width: 60%;
			}

			.quiz-options__text {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}
		}
	}

	.quiz-option {

		&__wrap {
			gap: 0.8rem;
		}

		&__img {
			border-radius: 0.2rem;

			svg {
				width: 0.966rem;
				height: 1.6rem;
			}
		}

		&__checkbox {
			width: 1rem;
			height: 1rem;
			border-width: 0.1rem;
			border-radius: 0.1rem;

			svg {
				width: 0.267rem;
				height: 0.2rem;
			}
		}

		&__label {
			font-size: 0.8rem;
			line-height: 150%;
		}

		&__input:checked~.quiz-option__wrapper .quiz-option__img {
			box-shadow: 0 0 0.5rem $gray-2;
			outline: 0.15rem solid $accent-color;
		}

		&:hover {
			.quiz-option__img {
				box-shadow: 0 0 0.5rem $gray-2;
			}
		}
	}

	.quiz-catalog {

		.select-social {
			margin-bottom: 1.5rem;
		}

		&__input {
			margin-bottom: 1.7rem;
		}

		&__btn {
			// height: 4.5rem;
			margin-bottom: 1.15rem;
		}

		&__agree .agree__text {
			font-size: 0.8rem;
			line-height: 125%;
		}
	}
}