@import "_nullstyle.scss";
@import "_fonts.scss";
@import "_variables.scss";

body {
	min-width: 320px;
	font-family: 'Cera Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: $main-color;
	overflow-x: hidden;

	&.lock {
		overflow: hidden;
	}
}

@import "_header.scss";
@import "_nav.scss";
@import "_hero.scss";
@import "_quiz.scss";

@import "_popup.scss";